# .env.example
# Rename this file to .env and fill in the values before running the application
VITE_MSAL_CLIENT_ID=your_client_id_here
VITE_MSAL_AUTHORITY=your_authority_url_here
VITE_MSAL_KNOWN_AUTHORITIES=your_known_authorities_here
VITE_MSAL_REDIRECT_URI=your_redirect_uri_here   
VITE_MSAL_TENANT_ID=your_tenant_id_here
VITE_MSAL_USER_FLOW=your_user_flow_name_here