@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

* {
  margin: 0;
  padding: 0;
}
/*
*{} means every single element on the page.
can be used to reset the entire page
*/
.full-page {
  position: relative; 
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
.org-chart {
  width: 100%;
  height: 100%;
}
/* . before the class name is used to target the class while without . it targets the tag */
body{
  background-color: rgb(247, 134, 134);
  margin: 0; 
  padding: 0;
  display: block;
}


